<h1 style="font-size: 45px" > Créer un nouvel article</h1>


<%= form_tag (articles_path) do %>

<% if @article.errors.any? %>
<div id="error_explanation">
  <h2>
    <%= pluralize(@article.errors.count, "error") %> prohibited
    this article from being saved:
  </h2>
  <ul>
    <% @article.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <%= label_tag 'title', 'Title' %>
  <%= text_field_tag 'title' %>

  <%= label_tag 'text', 'Corpus' %>
  <%= text_area_tag 'text' %>

  <%= submit_tag 'Créer nouvel article' %>


  <h3 style="text-align: center;"><%= link_to("Retour aux articles", articles_path) %><h3>

<% end %>
